name: 'CI'

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        qob_version: [0.1.0, snapshot]

    steps:
    - uses: cachix/install-nix-action@v31
      if: runner.os != 'Windows'
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Setup SBCL
      if: runner.os != 'Windows'
      run: |
        nix profile install nixpkgs#sbcl

    - uses: actions/checkout@v5

    - uses: ./
      with:
        version: ${{ matrix.qob_version }}

    - name: Check Qob version
      run: qob --version
